.title{
  background-color: cornflowerblue;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  padding: 2px;
}

.footer{
  background-color: dimgrey;
  font-style: normal;
  padding: 12px;
}

.center{
  text-align: center;
}

.box{
  padding: 10%;
  background-color: darkcyan;
  height: 833px;
}

.bottom-button-color{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  background: #20498C;
  border-radius: 9px;
  color: #D7E5ED;
  border: unset;
  height: 40px;
}
